<h1>Real Time BRL Currency</h1>
<div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Data/Hora</th>
        <th>USD</th>
        <th>EUR</th>
        <th>BTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of walletService.updateBrl; index as idx">
        <td>{{ item.time.updated }}</td>
        <td>
          {{ (item.bpi.BRL.rate_float / item.bpi.USD.rate_float).toFixed(2) }}
        </td>
        <td>
          {{
            (
              item.bpi.BRL.rate_float /
              this.walletService.updateRates[idx].bpi.EUR.rate_float
            ).toFixed(2)
          }}
        </td>
        <td>
          {{ item.bpi.BRL.rate_float }}
        </td>
      </tr>
    </tbody>
  </table>
</div>